language: csharp
mono: none
dotnet: 2.0.0
dist: trusty

addons:
  apt:
    sources:
    - sourceline: 'deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main'
      key_url: 'https://packages.microsoft.com/keys/microsoft.asc'
    packages:
    - dotnet-sharedframework-microsoft.netcore.app-1.0.5

os:
  - linux
  - osx

osx_image: xcode8.3
  
before_install:  
  - if test "$TRAVIS_OS_NAME" == "osx"; then ulimit -n 2048; fi
  
before_script:
  - dotnet restore src/

script:
  - dotnet test src/stashbox.tests/stashbox.tests.csproj -c Release -f netcoreapp1.0
  - dotnet test src/stashbox.tests/stashbox.tests.csproj -c Release -f netcoreapp2.0

notifications:
  slack: stashbox-container:h2wOfP7OIteSvf9KJ3j64gZD
