deploy:
- provider: NuGet
  api_key:
    secure: FfqGu7+8eauvaqz7gFmd/jctLhRdi5YB2RlmADqgUlMWSdmpdmOZSd0BLUheLSxP

- provider: NuGet
  server: https://nuget.pkg.github.com/z4kn4fein/index.json
  artifact: /.nupkg/
  skip_symbols: true
  username: z4kn4fein
  api_key:
    secure: TaIug8cHioxT2qDznFpGtDinZiDi+20pEMQZUVAATWCvGLG9Y5LrjaxDUQtGyt38

- provider: GitHub
  tag: $(build_version)
  release: Stashbox v$(build_version)
  auth_token:
    secure: TaIug8cHioxT2qDznFpGtDinZiDi+20pEMQZUVAATWCvGLG9Y5LrjaxDUQtGyt38
  artifact: /.*\.nupkg|.*\.snupkg/

environment:
  build_version: ''

image: Visual Studio 2022

configuration: Release

install:
- ps: |
    $env:build_version = Get-Content ".version"
    Update-AppveyorBuild -Version "$env:build_version-$env:appveyor_build_number"
    dotnet tool install -g InheritDocTool

dotnet_csproj:
  patch: true
  file: 'src\stashbox.csproj'
  version: $(build_version)
  package_version: $(build_version)
  assembly_version: $(build_version)
  file_version: $(build_version)
  informational_version: $(build_version)

before_build:
- dotnet restore stashbox.sln

build_script:
- dotnet build -c %configuration% /p:ContinuousIntegrationBuild=true stashbox.sln

test_script:
- dotnet test test\stashbox.tests.csproj -f net6.0 -c %configuration% --no-build

after_build:
- inheritdoc -o
- dotnet pack -c %configuration% /p:IncludeSymbols=true /p:PackageOutputPath=..\artifacts src\stashbox.csproj

artifacts:
  - path: artifacts\Stashbox.*.nupkg
    name: NuGet Packages
  - path: artifacts\Stashbox.*.snupkg
    name: NuGet Symbol Packages

notifications:
- provider: Email
  to:
  - peter.csajtai@outlook.com
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true

- provider: Slack
  auth_token:
    secure: /KAOQIEOWc7w1EUl6J01qNam+f+ujntrwh53yJ0zg4qRWsdfWbkjKP2UG7tQDW7/hSVJHqF7Hz/IPdS6Cp5ilsfgH6xYroLB/sawQ/pdC5k=
  channel: '#ci'