.menu__list-item-collapsible {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu>.menu__list .menu__list {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    padding-left: 14px;

    .menu__link {
        padding-top: 8px;
        padding-bottom: 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .menu__link:not(.menu__link--active) {
        color: var(--menu-secondary-color);
        padding-left: 13px;
        border-left: 1px solid var(--ifm-toc-border-color);
        margin-left: 3px;
    }

    .menu__link--active {
        border-left: 3px solid var(--ifm-color-primary);
        margin-left: 2px;
    }
}

.menu__list-item {
    .dropdown-separator {
      display: none;
    }

    &:not(:first-child) {
        margin-top: 0;
    }
}
  
.menu__list {
    .nav-icon {
      display: none;
    }
}