.codeDescContainer {
    width: 100%;
    display: inline-block;
}

.desc {
    float: left;
    max-width: 45%;
    width: 45%;
    padding-right: 10px;
}

.example {
    width: 55%;
    max-width: 55%;
    padding-left: 10px;
    display: inline-block;
}

@media screen and (max-width: 996px) {
    .desc {
        float: none;
        max-width: 100%;
        width: 100%;
        padding-right: 0px;
    }
    
    .example {
        width: 100%;
        max-width: 100%;
        padding-left: 0px;
        display: block;
    }
}