/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3385b5;
  --ifm-color-primary-dark: #2e78a3;
  --ifm-color-primary-darker: #2b719a;
  --ifm-color-primary-darkest: #245d7f;
  --ifm-color-primary-light: #3892c7;
  --ifm-color-primary-lighter: #4197ca;
  --ifm-color-primary-lightest: #5ca6d1;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #43c8ff;
  --ifm-color-primary-dark: #23bfff;
  --ifm-color-primary-darker: #13baff;
  --ifm-color-primary-darkest: #009fe1;
  --ifm-color-primary-light: #63d1ff;
  --ifm-color-primary-lighter: #73d6ff;
  --ifm-color-primary-lightest: #a4e4ff;
}
