/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.logo {
  margin: 15px 0 20px 0;
}

.attributes {
  font-size: 1em;
  margin-bottom: 30px;
  color: var(--ifm-color-gray-600);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.buttons a {
  margin: 5px;
}

.title {
  font-size: 3em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2em;
}

.installContainer {
  margin: auto;
  max-width: 420px;
}

.install {
  margin: 30px 0;

  pre {
    font-family: monospace;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 1.1rem;
  }
} 

.command {
  color: yellow;
}

.command_start {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--ifm-color-gray-600);
}

.options {
  color: var(--ifm-color-gray-600);
}

.cursor {
  content: "";
  display: inline-block;
  background-color: var(--ifm-font-color-secondary);
  width: 7px;
  min-width: 7px;
  height: 15px;
  margin-left: 1px;
  margin-bottom: 3px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;

  @-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
}

[data-theme='light'] {
  .command {
    color: darkgoldenrod;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem;
  }
}

@media screen and (max-width: 460px) {
  .heroBanner {
    padding: 3rem .5rem;
  }
}