<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ronin.Common" publicKeyToken="9778e33426732b68" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.42.0" newVersion="1.0.42.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>