:root {
    --search-margin: 1em 0;
    --search-result-keyword-padding: 0 0;

    --base-background-color: #13171a;

    --base-line-height: 1.6;
    --base-color: #b5bcc4;
    --heading-color: #d3d9df;

    --theme-color: #2582ad;
    --theme-2-color: #ff8b64;

    --cover-blockquote-color: var(--theme-2-color);
    --cover-background-image: linear-gradient(45deg, #192027 0%, var(--base-background-color) 90%);
    --cover-button-background: #242f33;
    --cover-button-background--hover: #1d6688;
    --cover-button-box-shadow--hover: 0 5px 16px rgba(2, 17, 26, 0.8);

    --sidebar-toggle-icon-stroke-width: 2px;
    --sidebar-toggle-background: var(--theme-color);

    --base-font-size: 14px;

    --table-cell-padding: 0.5em 1em;
    --table-cell-border-width: 1px;
    --table-head-border-width: 1px;
    --table-cell-border-color: #262c31;
    --table-row-odd-background: #181f24;

    --sidebar-nav-margin: 0 0;
    --sidebar-nav-link-font-weight--active: 600;
    --sidebar-width: 20rem;
    --sidebar-nav-link-color--active: var(--theme-color);
    --sidebar-nav-strong-color: var(--theme-2-color);
    --sidebar-background: #192027;
    --sidebar-border-color: #242f35;

    --notice-tip-border-color: var(--theme-color);    
    --notice-tip-background: #0d2735;
    --notice-important-border-color: hsl(0, 57%, 45%);
    --notice-important-background: hsl(0, 23%, 15%);

    --navbar-menu-link-color: #56afd8;
    --navbar-menu-link-text-decoration--hover: underline;
    --navbar-menu-padding: 0 1.2em;
    --navbar-menu-background: #242b30;

    --docsify-example-panels-left-panel-width : 40%;
    --docsify-example-panels-right-panel-width : 60%;
    --docsify-example-panels-padding-inner: 0px 16px;

    --heading-h2-border-color: var(--table-cell-border-color);
    --heading-h2-margin: 25px 0 0 0;
    --heading-h2-padding: 0;

    --heading-h3-margin-top: 12px;
    --heading-h3-margin: var(--heading-h3-margin-top) 0 0;

    --hr-border: 1px solid var(--table-cell-border-color);

    --pagination-border-top: 1px solid var(--table-cell-border-color);

    --docsifytabs-tab-highlight-px: 2px;
    --docsifytabs-tab-color: #73818b;

    --code-block-padding: 1.4em 1.5em 1.1em 1.5em;
   
    --code-inline-color: var(--theme-2-color);
    --code-font-size: calc(var(--font-size-m) * 0.9);
    --code-inline-padding: 0.1em 0.3em 0.2em 0.3em;
    --code-inline-margin: 0.1em;

    --copycode-background: var(--theme-color);

    --code-theme-background: #192027;
    --code-inline-background: #293136;

    --code-theme-comment    : #516e7a;
    --code-theme-function   : #cf7ea9;
    --code-theme-keyword    : var(--theme-2-color);
    --code-theme-operator   : #56b6c2;
    --code-theme-punctuation: #a3a3a3;
    --code-theme-selector   : #ffcb6b;
    --code-theme-tag        : #f07178;
    --code-theme-text       : #d6d6d6;
    --code-theme-variable   : #99c;

    --selection-color      : #0250af;
}

td {
    text-align: center;
    padding-top: 15px !important;
}

th {
    text-align: center !important;
}

.docsify-copy-code-button {
    font-size: 1em !important;
    padding: .35em .4em .23em .35em !important;
}

.markdown-section {
    max-width: 1100px !important;
}

.markdown-section h3:first-child {
    margin-top: var(--heading-h3-margin-top);
}

.markdown-section .tip, .markdown-section .warn {
    margin: 1.5em 0 1.5em 0;
}

.markdown-section h2 {
    margin-top: 25px !important;
}

button:focus {
    outline:0;
}

.lang-cs .class-name, .lang-cs .namespace {
    color: #73b3d1;
}

.lang-cs .string {
    color: #98c379;
}

section.cover .mask {
    display: none;
}

.last-modified {
    color: #787e80;
    font-size: calc(var(--font-size-m) * 0.88);
}

.last-modified strong {
    color: #787e80;
}

.docsify-copy-code-button.error .error,
.docsify-copy-code-button.success .success {
    transform: translate(-50%, -50%) !important;
}

.gh-prefix {
    margin-right: 5px;
    padding-bottom: 3px;
    vertical-align: middle;
}

button.sidebar-toggle {
    position: fixed;
    bottom: 5rem;
    top: auto;
    left: auto;
}

.sidebar-toggle .sidebar-toggle-button {
    bottom: 2rem;
    top: auto;
    left: auto;
}

.sidebar {
    border-color: var(--sidebar-border-color);
}

.app-nav li {
    cursor: pointer;
}

.app-nav strong {
    color: #b7ced8;
}

.docsify-copy-code-button {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.sidebar-nav {
    line-height: 1.7;
}

.docsify-tabs__content {
    border: 0px !important;
    padding: 0 !important;
    border-top: 1px solid var(--table-cell-border-color) !important;
}

.docsify-tabs__content p:first-child {
    margin-top: 1em !important;
}

.docsify-tabs__tab--active {
    color: var(--theme-color) !important;
    background: #192027 !important;
}

.docsify-tabs__tab {
    cursor: pointer;
}

::selection {
    color: white !important;
}

@media (max-width: 450px) {
    :root {
        --code-font-size: calc(var(--font-size-m) * 0.82);
        --base-font-size: 13px;
        --code-block-padding: 1.4em 1.5em 1.1em 1.0em;
        --sidebar-width: 20rem !important;
        --sidebar-padding: 0 25px 0 20px !important;
    }

    body .sidebar {
        padding-bottom: 3rem;
    }

    .markdown-section {
        padding: 6em 0 0 0 !important;
    }

    .app-nav {
        right: 60px !important;
    }
}

@media (max-width: 480px) {
    .docsify-tabs__tab {
        font-size: 11px !important;
    }
}

@media (max-width: 520px) {
    :root {
        --docsifytabs-tab-padding: 0.8em 1em;
    }

    .docsify-tabs__tab {
        font-size: 13px;
    }
}

@media (max-width: 1000px) {
    :root {
        --sidebar-width: 16rem;
        --sidebar-padding: 0 25px 0 15px;
    }

    .markdown-section {
        padding: 6em 0.5em 0 0.8em;
        padding-top: 6em !important;
    }

    .sidebar-toggle .sidebar-toggle-button {
        background: #2582adab;
        width: 50px;
        height: 40px;
    }
}
  