name: Build on Linux and macOS
on:
  push:
    branches: [ master, dev ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'appveyor*'
  pull_request:
    types: [opened, synchronize, reopened]

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build-test:
    name: Build & test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-13, ubuntu-latest ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            6.0.x
            7.0.x
            8.0.x
      - name: Restore
        run: dotnet restore
      - name: Test
        run: |
          dotnet test test/stashbox.tests.csproj -c Release -f net6.0 --no-restore
          dotnet test test/stashbox.tests.csproj -c Release -f net7.0 --no-restore
          dotnet test test/stashbox.tests.csproj -c Release -f net8.0 --no-restore