# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '0 1 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v4
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is marked stale because it has been open for 30 days with no activity.'
        stale-pr-message: 'This PR is marked stale because it has been open for 30 days with no activity.'
        close-issue-message: 'This issue was closed due to no activity.'
        close-pr-message: 'This PR was closed due to no activity.'
        days-before-issue-stale: 30
        days-before-pr-stale: 30
        days-before-issue-close: 5
        days-before-pr-close: 5
